{% extends  './layout.html' %}

{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/user_profile.css')}}">
{% endblock %}

{% block nav %}
<li class="breadcrumb-item">User Profile</a></li>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">        
        <div class="col-xs-12 col-md-4 col-lg-4 bootstrap snippets bootdeys">
            <div class="widget panel">
                <div class="panel-body justify-content-center">
                    <h4 class="mb0">User Profile
                        <i class="fa fa-twitter text-info pull-right"></i>
                    </h4>
                    <hr>
                    <ul class="list-table">
                        <li style="width:130px;">
                            <img class="img-circle img-bordered-primary" src="{{data.user.image_url}}" alt="" width="120px" height="120px">
                        </li>
                        <li class="text-left">
                            <h5 class="semibold ellipsis nm">{{data.user.title}}</h5>
                            <p class="text-muted nm">@{{data.user.twitter_user_name}}</p>
                            <p class="text-muted nm">{{data.user.description}}</p>
                        </li>
                    </ul>
                    <hr>
                    <ul class="row justify-content-center">
                        <a href="{{url_for('user.show_tweets', user_name=data.user.twitter_user_name)}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">See Tweets</a>
                        <a href="{{url_for('user.edit_user_profile', user_name=data.user.twitter_user_name)}}" class="btn btn-secondary btn-lg active ml-4" role="button" aria-pressed="true">Edit Profile</a>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}